<p><h1>About</h1></p>
<hr>

<p>Ruby version: 2.2.4</p>
<p>Rails version: 4.2.5.1</p>
<br>

<h3>Overview</h3>
<p>This is an example to show how to use <strong><%= link_to "Geocoder", "https://github.com/alexreisner/geocoder" %></strong> and 
<strong><%= link_to "Gmaps4rails", "https://github.com/apneadiving/Google-Maps-for-Rails" %></strong> gems in rails. 
These two gems help us easily search places and diplay search results on maps via <strong>Google Maps API</strong>.</p>
<br>
<p>The source code is available <strong><%= link_to "here at github", "https://github.com/jinshiq/elastic_search" %></strong>.</p>